/*
*********************************
* Version: 1.0
* Author: Rabin
* Details: http://www.rabinrai.com
***********************************
*/

html {    
    box-shadow: border-box;
}

*,
*:before,
*:after {    
    box-sizing: inherit;    
}


/* ==================================
      Container-Grid
=====================================*/

.container-grid {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    /* gutter */
    padding: 12px;
}

.col-1 { width: 16.66%;}

.col-2 { width: 33.33%;}

.col-3 { width: 50%;}

.col-4 { width: 66.664%;}

.col-5 { width: 83.33%;}

.col-6 { width: 100%;}

.outline, .outline * {
    outline: 1px solid #f6a1a1;
}

[class*='col-'] > p {
    background-color: #6398b4;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
}

/*============ Responsive Grid ===========*/

@media all and (max-width: 800px) {
    .col-1 { width: 33.33%;}
    .col-2 { width: 50%;}
    .col-3 { width: 83.33%;}
    .col-4 { width: 100%;}
    .col-5 { width: 100%;}
    .col-6 { width: 100%;}
    
    .row .col-2:last-of-type {
        width: 100%;
    }
    
    .row .col-5 ~ .row .col-1 {
        width: 100%;
    }
}

  @media all and (max-width:650px){
        .col-1{ width: 50%;        }
        .col-2{ width: 100%;    }
        .col-3{ width: 100%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;      }
    }

